.test{
    margin-left: 10%;
    margin-right: 10%;

    box-shadow:0 0 0.3em #0D005F;
}
.form-label
{
    font-size: larger;
    font-weight:bold;
    color:#FFE8E8;
}

#summernote{

    border-style: dotted;

}
