body{
    background: rgb(230,234,235);
    background: linear-gradient(0deg, rgba(230,234,235,1) 0%, rgba(207,229,230,1) 27%, rgba(13,0,95,1) 92%);
    height: 100vh;
}
#test{
    background-color: #6B6FA4;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-top:1%;
    padding-left:3%;
    padding-right: 3%;
    box-shadow:0 0 1em #0D005F;

}
