body{
    background: rgb(230,234,235);
    background: linear-gradient(0deg, rgba(230,234,235,1) 0%, rgba(207,229,230,1) 27%, rgba(13,0,95,1) 92%);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#bodycontainer{
    background-color: #6B6FA4;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-top:1%;
    padding-left:3%;
    padding-right: 3%;
    box-shadow:0 0 1em #0D005F;

}

#archivebutton{

    float: right;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 15px;

}
.bodycontainer{
    margin-left: 5px;
    padding-left: 10px;
    margin-right: 5%;

    box-shadow:0 0 0.3em #0D005F;
}
#addmessage{

    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    padding: 10px;


}

.bodycontainerlab{
    margin-left: 5px;
    padding-left: 10px;
    margin-top: 2%;
    margin-bottom: 6%;


    box-shadow:0 0 0.3em #0D005F;
}
.bodycontainerlabequipment
{
    margin-left: 5px;

    margin-top: 2%;
    margin-bottom: 6%;
    padding: 2%;

    box-shadow:0 0 0.3em #0D005F;

}
#addbutton{

    float: right;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 15px;

}
